[submodule "third/zlib"]
	path = third/zlib
	url = https://github.com/madler/zlib.git
[submodule "third/llvm-project"]
	path = third/llvm-project
	url = https://github.com/GeekNeo/llvm-project
[submodule "third/ios-cmake"]
	path = third/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
